<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask and Tailwind Practice</title>
    <!-- Official Tailwind CSS CDN Link -->
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-900 text-white min-h-screen flex items-center justify-center p-6">

    <!-- Main Card Container -->

    <div>
        <h1>{{name}}</h1>
        <h2>{{title}}</h2>
        <h1>{{experience}}</h1>
        <h2>{{rating}}</h2>
        <h2>{{available}}</h2>
        <h2>{{skills}}</h2>
        <h2>{{contact.email}}</h2>
        <h2>{{contact.city}}</h2>
        <h2>{{contact.github}}</h2>
    </div>

</body>
</html>
