<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>


</head>

<div>
    <h1>hello home page</h1>
     <p class="text-sm text-gray-600">
                please have login or register 
                <a href="/register" class="text-blue-600 hover:underline font-semibold ml-1">Register here</a> <br>
                 <a href="/login" class="text-blue-600 hover:underline font-semibold ml-1">login here</a>
            </p>
</div>

</html>